picture {
  border-radius: 12px;
}

.drag-overlay-status-page {
  background-color: alpha(var(--accent-bg-color), 0.5);
  color: var(--accent-fg-color);
  padding: 32px;
}

.blurred {
  filter: blur(6px);
}

.background-fill {
  background-color: var(--window-bg-color);
}

.queue-row-header {
  padding: 9px;
}

/* Credit: https://stackoverflow.com/a/59137919 */
queuerow.success {
  --accent-bg-color: var(--success-color);
}

queuerow.warning {
  --accent-bg-color: var(--warning-color);
}

queuerow.error {
  --accent-bg-color: var(--error-color);
}
